/* common shared styles */
body{
    font-family: "Open Sans", sans-serif; ;
}

.text-primary{
    color: orange;

}

.btn-primary{ 
    border-radius: 5px;
background: orange;
border: 0;
font-size: 20px;
color: white;
font-weight: 700;
padding: 15px 35px;
}
/*  nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
.nav-title{
    color:rgb(12, 12, 11);
    font-size: 30px;
    font-weight: 800;
}

nav>ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}

/* header related styles */
.header{
background-color: rgb(237, 225, 225);
}

.banner{
    padding: 30px 30px 30px 50px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}